html, body {
  font-family: 'Calibri', Tahoma, sans-serif;
  font-weight: normal;
}
.red
{
  color:red;
}
.header {
  height: 600px;
}
.header-wrp {
  float: left;
  height: 600px;
}
.logo-text {
  font-size: 28px;
  font-family: 'Calibri', Tahoma, sans-serif;
  font-weight: 400;
  padding: 3px 0;
}
.paragraph-text {
  font-size: 28px;
  font-weight: 300;
  font-family: 'Calibri', Tahoma, sans-serif;
}
.logo-wrp {
  text-align: center;
}
.text-wrp {
  padding: 0 86px;
  text-align: center;
}
.header-text {
  color: #ef6225;
  font-size: 28px;
  padding: 0 0 50px 0;
  margin: 0 0 50px 0;
}