.red
{
  color:red;
}
.header {
  height: 300px;
}
.header-wrp {
  float: left;
  height: 300px;
}
.logo-wrp {
  padding: 0 86px;
}
.text-wrp {
  margin-left: 86px;
}
.header-text{
  color: '#ef6225'
}