html, body {
  font-family: 'Calibri', Tahoma, sans-serif;
  font-weight: normal;
}

.orange
{
   color: #F79546;
}

.text-0 {
  font-size: 32px;
}

.text-1 {
  font-size: 40px;
}

html, body, .table-head td, .text-2 {
  font-size: 46px;
}

.text-3 {
  font-size: 55px;
}

.text-4 {
  font-size: 75px;
}

.text-5 {
  font-size: 100px;
}

.text-6 {
  font-size: 140px;
}

.line
{
  height: 6px;
  width:100%;
  background: #000000;
}

.table-head {
  border-collapse: collapse ;
}
.double-line {
  width:60%;
  height: 9px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.table-head td {
  text-align: left;
  vertical-align: middle;
  border-left: none;
  border-right: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: red ;
}

.bg-rose
{
	background:#FCE9D9;
}

.table-blue
{
  color: #1F487C;
  border:0;
  border-spacing:0;
  border-collapse: collapse ;
}

.table-blue td
{
  border: 1px solid #1F487C;
}

.bg-blue
{
	background: #DCE6F0;
}

.bg-orange
{
	background: rgb(249, 190, 143);
}

.bg-gray
{
	background: rgb(217, 217, 217);
}

.text-bottom {
  color: #C0504D;
  text-align: right;
}